* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: white;
}

.container {
    margin: auto;
    align-self: center;
    overflow: auto;
}

#headertext{
    padding-top: 10px;
    text-align: center;
    color: white;
    text-shadow: #292929 3px 3px;
}

#header-info {
    height: 70px;
    background: #36A1D4;
}

#photo{
    float: left;
    margin: 75px;
    width: 400px;
    height: 500px;
    background: url('../img/IMG_9625.jpg') no-repeat center center/cover;
    box-shadow: #292929 3px 3px 10px;
}

#desc{
    float: right;
    padding: 50px 100px;
    margin: 20px;
    text-align: left;
    color: black;
}