{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name ="viewport">
    <title>Brian | About Me</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <header id="header-info">
        <div id="headertext">
            <h1>Hello! I'm Brian</h1>
        </div>
    </header>

    <section>
        <div class="container">
            <div id="photo">

            </div>
            <div id="desc">
            <h2>{{ name }}</h2>
            <h2>NPM : {{ npm }}</h2>
            <h2>I am {{ age }} years old</h2>
            <h2>QUANTA 2018</h2>
            <h2>Hobi : Photography, Cooking</h2>
            <h2>FASILKOM UI</h2>
            <h2>Deskripsi : Orangtua saya dosen Fasilkom</h2>
            </div>
        </div>
    </section>


    
</body>
</html>
